<h4><%= @product.name %></h4>

<p>Description: <%= @product.description %></p>
<p>Stock Qty: <%= @product.stock_quantity %></p>
<p>Buying cost: <%= @product.buying_cost %></p>
<p>Selling price: <%= @product.selling_price %></p>
<p>Manufacturer: <%= @product.manufacturer_id %></p>
<p>Category: <%= @product.category_id %></p>
