<div class="show">
<h4><%= @manufacturer.name() %></h4>

<p>Contact: <%= @manufacturer.contact() %></p>
<p>Address: <%= @manufacturer.address() %></p>
<div >
  <a class="button" href="/manufacturer/<%= @manufacturer.id() %>/edit">Edit Product</a>
</div>
<form action="/manufacturer/<%= @manufacturer.id() %>/delete" method="POST">
  <input id="hidden" name="_method" type="hidden" value="delete">
  <input class="button" type="submit" value="Delete Product">
</form>
</div>
