<p>Products Page</p>

<form action="/product" method="GET">

  <select  id="manufacturer-id" name="manufacturer_id">
    <option value="">All</option>
    <% for manufacturer in @manufacturers %>
      <option id="manufacturer-id" name="manufacturer_id" value="<%= manufacturer.id %>"><%= manufacturer.name %></option>
    <% end %>
  </select>
  <input type="submit">
</form>

<% for product in @products %>
  <% if product.stock_quantity == 0 %>
    <div class="red">
      <p><%=  product.name() %></p>
      <p>Stock Qty: <%=  product.stock_quantity() %></p>
    </div>
  <% elsif product.stock_quantity <= 2 %>
    <div class="yellow">
      <p><%=  product.name() %></p>
      <p>Stock Qty: <%=  product.stock_quantity() %></p>
    </div>
  <% else %>
    <div>
      <p><%=  product.name() %></p>
      <p>Stock Qty: <%=  product.stock_quantity() %></p>
    </div>
  <% end %>
  <a href="/product/<%= product.id %>">More Info</a>
  <p>--------------------------------------</p>
<% end %>
