<h4><%= @product.name() %></h4>

<form action="#">
  
</form>

<p>Description: <%= @product.description() %></p>
<p>Stock Qty: <%= @product.stock_quantity() %></p>
<p>Buying cost: <%= @product.buying_cost() %></p>
<p>Selling price: <%= @product.selling_price() %></p>
<p>Manufacturer: <%= @product.manufacturer().name() %></p>
<p>Category: <%= @product.category_id %></p>

<a href="/product/<%= @product.id() %>/edit">Edit Product</a>

<form action="/product/<%= @product.id() %>/delete" method="POST">
  <input id="hidden" name="_method" type="hidden" value="delete">
  <input type="submit" value="Delete Product">
</form>
